.main {
  display: flex;
  justify-content: space-between;
}

/* LEFT ************************************/

.main__left {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: start;
}

.main__left-title {
  color: var(--font-color-main);
  font-size: 48px;
  font-weight: 400;
  width: 362px;
  line-height: 58px;
}

.main__left-title-gradient {
  background: linear-gradient(92deg, #fcb045 27.14%, #ff3f78 121.36%), #e4e5ea;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 48px;
  font-weight: 900;
  width: 247px;
  margin-bottom: 30px;
}

.main__left-subtitle {
  font-family: var(--second-font);
  font-size: var(--big-font-size);
  color: var(--font-color-main);
  width: 275px;
}

/* RIGHT *****************************************/

.main__right {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  text-align: right;
}

.main__right-title {
  font-size: var(--big-font-size);
  color: var(--font-color-main);
  width: 291px;
  text-align: right;
  margin-bottom: 40px;
}

.main__right-title span {
  background: linear-gradient(-10deg, #fcb045 25.14%, #ff3f78 90.36%), #e4e5ea;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 600;
}

.main__right-grid {
  color: var(--font-color-main);
  display: grid;
  grid-template-areas:
    ". ."
    ". .";
  gap: 30px 0;
  margin-bottom: 60px;
}

.grid__item {
  display: flex;
  flex-direction: column;
  /* text-align: right; */
  /* justify-content: end; */
}

.grid__item-title {
  text-align: right;
}

.grid__item-subtitle {
  width: 160px;
  font-family: var(--second-font);
  font-weight: 200;
}

.main__right-button {
  width: 262px;
  background: var(--button-bg);
  color: var(--font-color-main);
  font-weight: 500;
  padding: 21px 34px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
    justify-content: start;
    padding: 25px;
    z-index: 50;
  }

  .main__left {
    margin-top: 50px;
  }

  .main__left-title {
    font-size: 36px;
    line-height: 45px;
  }

  .main__left-subtitle {
    margin-bottom: 45px;
  }

  .main__left-title-gradient {
    font-size: 36px;
  }

  .main__right {
    justify-content: start;
    align-items: start;
    text-align: left;
  }

  .main__right-grid {
    gap: 10px 10px;
  }

  .grid__item {
    flex-direction: row;
  }

  .grid__item-title::before {
    content: "-";
    display: inline-block;
    transform: scale(1.3);
    margin-right: 5px;
    color: orange;
  }

  .main__right-title {
    text-align: left;
    /* width: 5px; */
  }

  .grid__item-subtitle {
    display: none;
  }

  .main__right-button {
    display: none;
  }
}
